In [1]:
import pandas as pd
uri = "Employee.xlsx"
cols = 'a:d'
df = pd.read_excel(uri, sheet_name ='Sheet1', usecols=cols, dtype={'Quarter':str})
df.describe()

             Sale
count     4.000000
mean    550.000000
std     310.912635
min     300.000000
25%     375.000000
50%     450.000000
75%     625.000000
max    1000.000000

In [7]:
df.shape

(4, 4)